<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ba3a3700-081b-41b5-a33a-72890f04bf34/resourceGroups/ShelterReport20220711212120ResourceGroup/providers/Microsoft.Web/sites/ShelterReport20220711212459</ResourceId>
    <ResourceGroup>ShelterReport20220711212120ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/ba3a3700-081b-41b5-a33a-72890f04bf34/resourceGroups/ShelterReport20220711212120ResourceGroup/providers/Microsoft.ApiManagement/service/ShelterReportapi/apis/shelterreport</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://shelterreport20220711212459.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>2eb92642-75db-4bda-b846-9e096b8410a9</ProjectGuid>
    <MSDeployServiceURL>shelterreport20220711212459.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ShelterReport20220711212459</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$ShelterReport20220711212459</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>